@import './../foundation/variables.scss';
@import './../foundation/mixin.scss';

.search {
  margin-top: 60px;
  display: flex;
  align-items: center;
  @include indent01;
  @include mq {
    margin-top: 30px;
  }
}

.search__list {
  display: flex;
  list-style: none;
}

.search__title,
.search__item {
  line-height: 1;
  @include fontMedium;
}

.search__title {
  color: $gray_01;
  font-weight: normal;
  margin-right: 15px;
  @include mq {
    display: none;
  }
}

.search__item {
  color: $black_01;
  @include mq {
    font-size: 13px;
  }
  @include mq(spMin) {
    font-size: 11px;
  }
  span {
    color: $black_01;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    @include mq {
      padding: 6px 8px;
    }
    @include mq(spMin) {
      padding: 5px 6px;
    }
    &:hover {
      background: $gray_01;
      cursor: pointer;
      @include mq {
        background: none;
      }
    }
    &.is-current {
      color: $white_01;
      background: $gray_01;
      text-decoration: none;
    }
  }
}
