@use './../foundation/variables.scss' as *;
@use './../foundation/mixin.scss' as *;

$color_text: var(--color-text);

@mixin section {
  margin-top: 60px;
  @include mq {
    margin-top: 25px;
  }
}

.post {
  @include section;
}

.title {
  color: $color_text;
  font-weight: normal;
  line-height: 1.2;
  @include fontExLarge;
  @include indent01;
}

.meta {
  color: $color_text;
  line-height: 1;
  display: flex;
  flex-wrap: wrap;
  @include section;
  @include fontMedium;
  @include indent01;
  dt,dd {
    margin: 7px 0 7px;
  }
  dt {
    flex-basis: 80px;
  }
  dd {
    flex-basis: calc(100% - 80px);
  }
  @include mq {
    margin-top: 20px;
    dt,dd {
      margin: 5px 0 5px;
    }
    dt {
      display: none;
    }
    dd {
      flex-basis: 100%;
    }
  }
}

.url {
  line-height: 1.4;
  @include fontMedium;
  @include enTextBr;
  a {
    color: $color_text;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    @include mq {
      padding: 5px 15px;
    }
    &:hover {
      color: $black_01;
      background: $gray_02;
      span {
        color: $black_01;
      }
      @include mq {
        color: $color_text;
        background: none;
        span {
        color: $color_text;
        }
      }
    }
    span {
      color: $color_text;
      display: inline;
      padding: 0;
    }
  }
  span {
    color: $color_text;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    @include mq {
      padding: 5px 15px;
    }
  }
}

.credit {
  margin-top: 30px;
  @include indent01;
  p {
    color: $color_text;
    line-height: 1.7;
    @include fontMedium;
  }
}

.capture {
  margin-top: 50px;
  list-style: none;
  @include indent01;
  li {
    max-width: 500px;
    margin-top: 30px;
    @include imageItem;
    &:first-child {
      margin-top: 0;
    }
    @include mq {
      max-width: 400px;
    }
  }
  img {
    max-width: 100%;
    height: auto;
    @include imageObject;
  }
}

.works {
  margin-top: 120px;
  @include mq {
    margin-top: 55px;
  }
}

.back {
  margin-top: 60px;
  line-height: 1;
  @include fontMedium;
  a {
    color: $black_01;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    @include mq {
      padding: 5px 15px;
    }
    &:hover {
      background: $gray_02;
      @include mq {
        background: none;
      }
    }
  }
}
